.centralize {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.content {
  background-color: whitesmoke;
  display: flex;
  padding: 30px;
  border-radius: 30px;
}

@media (prefers-color-scheme: dark) {
  .centralize {
    background-color: black;
  }

  .content {
    background-color: rgb(30, 30, 30);
  }
}

@media (max-width: 750px) {
  .content {
    flex-direction: column;
  }
}