.item-button {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  font-size: small;
  cursor: pointer;
}

@media (hover: hover) {
  .item:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .item-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media (prefers-color-scheme: dark) {
    .item:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }

    .item-button:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}